* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

$grid-gap: 0.75em;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100%;
  @include flex-center;
  overflow-y: scroll;
}

img {
  width: 100%;

  background-color: blue;
  grid-column: 1 / -1;
  height: auto;
  max-width: 500x;
}

#grid-image-container {
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  grid-auto-rows: auto;
  gap: $grid-gap;
}




@media screen and (min-width: 750px) {
  


img {
  background-color: blue;
  grid-column: span 4;
  overflow-x: hidden;
  height: auto;
  max-width: 15em;
  width: 100%;
  transition: all 2s;
}

img:hover {
  cursor: pointer;
  /*  width: 44em;
  max-width: 44em;
  z-index: 2;
  grid-column: span 12;*/
}

#grid-image-container {
  grid-template-columns: repeat(12, 3em);
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: $grid-gap;
  max-width: min-content;
  width: min-content;
}

.overlay-container {
  height: 0%;
  width: 0%;
  z-index: -1;
  transition: opacity 1s;
}

.overlay-on {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  opacity: 0.5;
  z-index: 1;
}

.overlay-img-style-1 {
  /*width: min-content;
  height: auto;
  z-index: 2;
  position: fixed;
 left: 50%;
  top: 10em;
*/
  transform: translate(0, 0);

  width: 45em;

  max-width: 44.5em;
  z-index: 2;
}

.overlay-img-style-2 {
  /*width: min-content;
  height: auto;
  z-index: 2;
  position: fixed;
 left: 50%;
  top: 10em;
*/
  transform: translate(-33.33333333333%, 0);

  width: 45em;

  max-width: 44.5em;
  z-index: 2;
}

.overlay-img-style-3 {
  /*width: min-content;
  height: auto;
  z-index: 2;
  position: fixed;
 left: 50%;
  top: 10em;
*/
  transform: translate(-66.666666666%, 0);

  width: 45em;

  max-width: 44.5em;
  z-index: 2;
}

}